<p style="color: green"><%= notice %></p>

<%= render @reported_bike %>

<div>
  <%= link_to "Edit this reported bike", edit_reported_bike_path(@reported_bike) %> |
  <%= link_to "Back to reported bikes", reported_bikes_path %>

  <%= button_to "Destroy this reported bike", @reported_bike, method: :delete %>
</div>
