<p style="color: green"><%= notice %></p>

<%= render @reported_car %>

<div>
  <%= link_to "Edit this reported car", edit_reported_car_path(@reported_car) %> |
  <%= link_to "Back to reported cars", reported_cars_path %>

  <%= button_to "Destroy this reported car", @reported_car, method: :delete %>
</div>
