<p style="color: green"><%= notice %></p>

<%= render @blu_iterator %>

<div>
  <%= link_to "Edit this blu iterator", edit_blu_iterator_path(@blu_iterator) %> |
  <%= link_to "Back to blu iterators", blu_iterators_path %>

  <%= button_to "Destroy this blu iterator", @blu_iterator, method: :delete %>
</div>
