<!-- Post form to submit startAddress and endAddress to findRoute -->
<%= form_with(url: pathfinder_findRoute_path, method: "post") do |form| %>
  <div>
    <%= form.label :startAddress, style: "display: block" %>
    <%= form.text_field :startAddress %>
  </div>

  <div>
    <%= form.label :endAddress, style: "display: block" %>
    <%= form.text_field :endAddress %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
