<div id="<%= dom_id report %>">
  <p>
    <strong>Reporter:</strong>
    <%= report.reporter_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= report.category %>
  </p>

  <p>
    <strong>Address street:</strong>
    <%= report.address_street %>
  </p>

  <p>
    <strong>Address city:</strong>
    <%= report.address_city %>
  </p>

  <p>
    <strong>Address state:</strong>
    <%= report.address_state %>
  </p>

  <p>
    <strong>Address zip:</strong>
    <%= report.address_zip %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= report.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= report.lng %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= report.body %>
  </p>

  <p>
    <% report.images.each do |image| %>
      <%= image_tag(image) %>
    <% end %>

</div>
