<div id="<%= dom_id image %>">
  <p>
    <strong>Image url:</strong>
    <%= image.image_url %>
  </p>

  <p>
    <strong>Ibb:</strong>
    <%= image.ibb_id %>
  </p>

  <p>
    <strong>Report:</strong>
    <%= image.report_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= image.owner_id %>
  </p>

  <p>
    <strong>Bike:</strong>
    <%= image.bike_id %>
  </p>

  <p>
    <strong>Car:</strong>
    <%= image.car_id %>
  </p>

</div>
