<!DOCTYPE html>
<html>
  <head>
    <title>Chicago Bike Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

		<%= render partial: "shared/cdn_assets" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
